<h1>Listing audios</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @audios.each do |audio| %>
  <tr>
    <td><%= audio.title %></td>
    <td><%= link_to 'Show', audio %></td>
    <td><%= link_to 'Edit', edit_audio_path(audio) %></td>
    <td><%= link_to 'Destroy', audio, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Audio', new_audio_path %>
