<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @event.title %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>
<% if @event.image != nil && @event.image.title != nil %>
<img src="<%= @event.image.title %>">
<% end %>
<% if @event.video != nil && @event.video.title != nil  %>
<iframe class="youtube-player" type="text/html" width="640" height="385" src="http://www.youtube.com/embed/<%= @event.video.title %>" frameborder="0">
<% end %>
</iframe>

<% if current_user == @event.category.timeline.user %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>
<%= link_to 'Back', @event.category.timeline %>
