<h1>Timelines</h1>

<table style="margin-left: auto; margin-right:auto">
  <tr>
    <th>Title</th>
    <th style="width: 400px">Description</th>
    <th></th>
    <th></th>
  </tr>
<% @timelines.each do |timeline| %>
  <tr>
    <td><%= timeline.title %></td>
    <td><%= timeline.description %></td>
    <td><%= link_to 'View Timeline', timeline %></td>
    <% if current_user.id == timeline.user_id %>
      <td><%= link_to 'Edit', edit_timeline_path(timeline) %></td>
    <% end %>
  </tr>
<% end %>
</table>
</div>

<%= link_to 'New Timeline', new_timeline_path %>
