<p id="notice"><%= notice %></p>

<h1> <%= @timeline.title %> </h1>
<div class="center" style="border-bottom: 1px solid #e8e8e8"> <%= @timeline.description %> <br />
<%= link_to 'Extended Description', '/timelines/description/'+ @timeline.id.to_s %>
</div>
<div style="overflow: auto; width: 475px; float:left; height: 450px;">
<div style="width: 450px; float:left">
<% if current_user.id == @timeline.user_id %>
<% combined = Array.new %>
<% (@timeline.categories.sort_by &:id).each do |category| %>
  <% combined.concat(category.events) %>
  <div class="column">
  <span class = "<%= category.title.split[0] %>">
    <h3> <%= link_to category.title, edit_category_path(category) %> </h3>
  </span>
  </div>
<% end %>
</div>
<% combined = combined.sort_by &:date %>
<% i = 0 %>
<% (@timeline.categories.sort_by &:id).each do |category| %>
  <div class="column">
  <% combined.each do |event| %>
    <% if event.category == category %>
      <% if event.location != nil %>    
      <div class = "<%= category.title.split[0] %>e" style="margin-bottom: 10px; margin-top: 10px; padding: 3px" onclick="setflag(<%=event.location.latitude%>,<%=event.location.longitude%>, '<%=event.title%>', <%= i %>)">
      <% else %> 
      <div class = "<%= category.title.split[0] %>e" style="margin-bottom: 10px; margin-top: 10px; padding: 3px">
      <% end %>
    <% else %>
      <div style = "margin-bottom:10px; margin-top: 10px; padding: 3px; color: white; border: 1px solid white; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;" >  
    <% end %>  
      <h4 style = "color: inherit"> <%= event.date %> </h4>
        <%= event.title %> <br />
      <% if event.category == category %>
        <%= link_to 'Edit', edit_event_path(event) %>
        <%= link_to 'Destroy', event, confirm: 'Are you sure?', method: :delete %>
      <% else %>
         Edit Destroy
      <% end %>
     </div>
    <% end %>
    <% i += 1 %> 
  </div>
<% end %>
<% else %>
<% combined = Array.new %>
<% (@timeline.categories.sort_by &:id).each do |category| %>
  <% combined.concat(category.events) %>
  <div class="column">
  <span class = "<%= category.title.split[0] %>">
    <h3> <%= category.title %> </h3>
  </span>
  </div>
<% end %>
</div>
<% combined = combined.sort_by &:date %>
<% i = 0 %>
<% (@timeline.categories.sort_by &:id).each do |category| %>
  <div class="column">
  <% combined.each do |event| %>
    <% if event.category == category %>
      <% if event.location != nil %>    
      <div class = "<%= category.title.split[0] %>e" style="margin-bottom: 10px; margin-top: 10px; padding: 3px" onclick="setflag(<%=event.location.latitude%>,<%=event.location.longitude%>, '<%=event.title%>', <%= i %>)">
      <% else %> 
      <div class = "<%= category.title.split[0] %>e" style="margin-bottom: 10px; margin-top: 10px; padding: 3px">
      <% end %>
    <% else %>
      <div style = "margin-bottom:10px; margin-top: 10px; padding: 3px; color: white; border: 1px solid white; -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none;" >  
    <% end %>  
      <h4 style = "color: inherit"> <%= event.date %> </h4>
        <%= event.title %> <br />
      <% if event.category == category %>
        <%= link_to 'Show Details', event %>
      <% else %>
         Show Details
      <% end %>
     </div>
    <% end %>
    <% i += 1 %> 
  </div>
<% end %>
<% end %>
<div style="width: 5px; height:100%; background-color: white; position: relative; left: 25px; top: 20px; float: left;"></div>
</div>
<form style="z-index: 2; position: relative; top:20px; right:10px; float: right;"><input type=button value="Clear Flags On Map" onClick="window.location.reload()"></form> 
<div id="map_canvas" style="width:450px; height:450px; position: relative; left: 10px; top: -55px"></div>
<br />
<div class="center">
<% if current_user.id == @timeline.user_id %>
<%= link_to 'Edit', edit_timeline_path(@timeline) %> |
<% end %>
<%= link_to 'Back', timelines_path %>
</div>
